*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(to right,red, rgb(162, 136, 136), rgba(255,0,0,1) );
}
.contain{
  display: flex;
  justify-content: center;
background-color: bisque;
border: 2px solid black;
display: inline-block;
width: 20%;
margin-left: 35%;
margin-top: 2%;
 
}

